/*

!.gitconfig
!.gitignore
!.gitignore-global

!README.md

!.config/fish/config.fish

!.config/nvim/init.vim

!.config/kitty/kitty.conf

!.emacs.d/init.el

!.ssh/config

!.tmux.conf

!Brewfile

!bin/dontfiles-install.sh
