* {
  font-family: "JetBrains Mono NL Light";
  border: none;
  border-radius: 0;
  font-size: 14px;
  min-height: 32px;
}

window#waybar {
  background: #2E3440;
  border-bottom: 2px solid #000;
  color: white;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #444;
  border-bottom: 3px solid white;
}

#custom-clock,
#custom-lock,
#custom-poweroff,
#custom-weather,
#pulseaudio,
#mode,
#network.wifi {
  padding: 0 4px;
  margin: 0 4px;
}

#mode {
  background: #444;
  border-bottom: 3px solid white;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
